
<h2>CRAZY CATS INVENTORY PAGE</h2>


<% for album in @albums %>

<div class="flex flex-center">
  <table class="table">
    <th>Album Info</th>
    <th>Pricing</th>
    <th>Stock & Reorder</th>            

    <tr>
      <td><p>Title: <%= album.title %></p></td>
      <td><p>Buy Price: £<%= album.buy_price %></p></td>
      <td><p>Album Stock Price: £<%= album.album_stock_price%></p></td>
    </tr>

    <tr>
      <td><p>Artist: <%= album.artist_name_from_id %></p></td>
      <td><p>Sell Price: £<%= album.sell_price %></p></td>
      <td><p>Quantity: <%= album.quantity %></p></td>
    </tr>

    <tr>
      <td><p>Genre: <%= album.genre %></p></td>
      <td><p>Profit: £<%= album.profit %></p></td>
      <td><p class="<%= album.stock_level.downcase %>">Stock Level: <%= album.stock_level %></p></td>
    </tr>

  </table>

  <div class="flex flex-column">
    <form  action="/albums/<%= album.id %>/delete" method="post">
      <input class="button delete" type="submit" value="Delete">
    </form>


    <form  action="/albums/<%= album.id %>/edit" method="get">
      <input class="button update" type="submit" value="Update">
    </form>
  </div>
</div>

<% end %>



