<h1>Crazy Keith's Music Store</h1>

<a href="/albums/new">Add Album</a>
<a href="/artists/new">Add Artist</a>

<% for album in @albums %>
<p>Title: <%= album.title %></p>
<p>Genre: <%= album.genre %></p>
<p>Quantity: <%= album.quantity %></p>
<p>Stock Level: <%= album.stock_level %></p>

<p>Artist: <%= album.artist_name_from_id %></p>

<form action="/albums/<%= album.id %>/delete" method="post">
<input type="submit" value="Delete">
</form>

<hr/>
<% end %>



